{% extends 'ThemeBundle:Default:layout_base_reporte.pdf.twig' %}
{% block stylesheets %}
    <style>
        table {
            width: 100%;
        }
    </style>
{% endblock stylesheets %}
{% block body %}

    <div class="box-body">
        <table class="data-table table table-bordered table-striped">
            <thead>

            <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>Color vehiculo</th>
                <th>Vin</th>
                <th>Se pagó</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.modelo }}</td>
                    <td>{{ entity.color_vehiculo }}</td>
                    <td>{{ entity.vin }}</td>
                    <td align="center">
                        {% if entity.pagado %}
                            SI
                        {% else %}
                            NO
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}