{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content -%}


    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-offset-2">
                <img class="img-responsive pad" alt="logo empresa"
                     src="{{ asset('/bundles/theme/images/gonzalez_automoviles.png') }}">
            </div>
        </div>
    </div>



{% endblock %}

